body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 3vh;
    background: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 3vh;
}

.card {
    /* border: solid lightslategray 1px; */
    display: flex;
    flex-direction: column;
    width: 100%;  
    height: 100%;  
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 10px;
}

.card h3, .card p {
    padding-left: 10px;
}

.card p {
    margin: 5px;
}

.restrict_size {
    width: 400px;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}


@media only screen and (max-width: 1000px) {
    /* Media queries go here */
}

@media only screen and (max-width: 600px) {
    /* Media queries go here */
}