@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

body {
    margin: 0px;
    /* background-color: aqua; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body * {
    transition: all 0.4s ease
}

h1, h2, h3, h4 {
    font-family: 'Comfortaa';
}

/* Nav Bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px rgb(232, 231, 231);

    padding: 20px;

    /* Make sticky */
    position: sticky;
    left: 0;
    top: 0;

    background-color: #f9f9f9;
}

.navbar-leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.552);
}

nav a {
    text-decoration: none;
    font-weight: bold;    
}

.navbar-links {
    display: flex;
    list-style-type: none;
    gap: 10px
}

.navbar-links li {
    padding: 10px;
}

.navbar-links li > a {
    padding: 5px;
}

/* Intro / Suprise Me */
#intro-section {
    /* Stylization */
    background: rgb(44,36,83);
    background: linear-gradient(133deg, rgba(44,36,83,1) 0%, rgba(101,42,87,1) 45%, rgba(187,62,99,1) 100%);

    padding-bottom: 20px;

}

#intro-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
.container { 
    width: 60vw;
    /* height: 65vh; */
    /* margin-top: 50px;
    margin-bottom: 50px; */
    padding: 30px;

    border-radius: 5px;
    box-shadow: 0px 0px 10px #cb9f7d;

    background-color: #f9f9f9;
}

.introduction {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.introduction h1 {
    font-size:xx-large;
    margin-bottom: 10px;
    margin-top: 10px;
}

.suprise-me {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.552);

    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 10px;

}

.suprise-me h2 {
    margin: 10px;
}

.suprise-wrapper {
    width: 90%;
    padding: 5px;
    padding-left: 10px;
    color: gray;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: solid 2px rgb(232, 231, 231);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#suprise-me-prompt {
    padding: 0px;
    margin: 0px;
}

.icon-wrapper {
    background-color: #652a57;
    color: #f9f9f9;
    padding: 10px;
    border-radius: 50%;
    font-size: small;
}

.icon-wrapper:hover {
    transition: all 0.4s ease;
    background-color: #a94865;
    box-shadow: 0px 0px 7px  #cb9f7d;
}

.filter-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.filter-button {
    color: #f9f9f9;
    background-color: #652a57;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    padding: 12px 18px;
    border-radius: 4px;
}

.filter-button:hover {
    background-color: #f9f9f9;
    color: #652a57;
    border: solid 2px #652a57;
    transition: all 0.4s ease;
}

/* Intro Section */

.flex-start-center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    background-color: #F2F0EF;


    /* border-top: solid 4px white; */

}



.topic-header {
    width: 100vw;
    /* background-color: #a94865; */
    padding-left: 60px;
    /* margin-top: 10px; */
    /* border-image-slice: 1;
    border-width: 8px;
    border-image-source: linear-gradient(to right, #4d3589, #832d6f 45%, #a94865 100% ); */
    /* box-shadow: 0px -5px 3px -3px rgba(0, 0, 0, 0.552); */
    box-shadow: 0px 0px 7px #cb9f7d;
}

.topic-header-text {
    /* align-self: start; */
    font-size:x-large;
    color: black;
}

.topic {
    /* background-color: #ffff; */
    width: 80vw;
    padding: 30px;
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    /* border: solid 2px #F2F0EF; */

}

.topic-intro {
    border-radius: 5px;
    background: linear-gradient(133deg, rgba(44,36,83,1) 0%, rgba(101,42,87,1) 45%, rgba(187,62,99,1) 100%);
    border: none 4px #F2F0EF;
    color: #F2F0EF;
    padding-left: 10px;
    padding-right: 10px;
}

.topic-intro h1 {
    margin-top: 50px;
    font-size: 3em;
    margin-bottom: 10px;
}

.topic-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 20px;
}

.most-recent {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.552);
}


/* Currently not being used */
.full-list {
    color: #f9f9f9;
    cursor: pointer;
    font-weight: bold;
    padding: 12px;
    border: 3px white;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.552); */

    background-color: #652a57;
    /* background: linear-gradient(277deg, rgba(44,36,83,1) 0%, rgba(101,42,87,1) 45%, rgba(187,62,99,1) 100%); */
    /* border: none; */
    /* box-shadow: 0px 0px 7px #e1ac83; */
}

.full-list:hover {
    background-color: #f9f9f9;
    color: #652a57;
    border: solid 4px #f9f9f9;
    transition: all 0.4s ease;
    /* background: linear-gradient(277deg, rgb(53, 41, 117) 0%, rgba(101,42,87,1) 10%, rgba(187,62,99,1) 100%); */
}

#lecture {  
    /* Add onClick funciton that will show/hide contents */
}

/* .full-list-div {
    display: flex;
    flex-flow: row wrap;

    gap: 20px; 
    grid-column: 1 / 3;
} */



/* Theme switcher buttons */
.theme-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffffb1;

    width: min-content;

    /* Make fixed */
    position: fixed;
    left: 10px;
    bottom: 10px;

    display: flex;
    gap: 10px;
    align-items: center;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    /* font-size: large; */
}

#theme-button {
    font-size: x-large;
    padding-right: 5px;

    color: rgb(20, 20, 20);
}

#theme-button:hover {
    color: #a94865;
}

/* Go back Button */
.back-button-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffffb1;

    width: max-content;

    /* Make fixed */
    position: fixed;
    left: 10px;
    bottom: 10px;

    display: flex;
    gap: 10px;
    align-items: center;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    /* font-size: large; */
}

.back-button {
    background-color: transparent;
    border: 0px;
    text-decoration: none;
    font-size: 1.1em;
    color: #666;
    margin: 0px;
    padding: 10px;
}

/* <div class = "back--wrapper">
    <button class = "back-button">Go Back</button>
</div> */


/**************/
/* Dark Mode */
/*************/

.dark-mode * {
    transition: all 0.4s ease
}

.dark-mode nav{
    background-color: rgb(20, 20, 20);
    border-bottom: none;
    color: white;
}

.dark-mode nav a {
    color: rgba(255, 255, 255, 0.784);
}

.dark-mode #intro-section, .dark-mode .topic-intro{
    background: linear-gradient(133deg, rgb(24, 20, 44) 0%, rgba(101,42,87,1) 75%, rgb(145, 57, 83) 100%)
}

.dark-mode .container {
    box-shadow: 0px 0px 10px #322455;

    background-color: rgb(20, 20, 20);
}

.dark-mode {
    color: rgba(255, 255, 255, 0.784);
}

.dark-mode h1, .dark-mode h2 {
    color: whitesmoke;
}

.dark-mode .suprise-wrapper {
    border: solid 2px rgba(178, 177, 177, 0.784);   
}

.dark-mode .filter-button {
    color: rgba(255, 255, 255, 0.784);
    background-color: #652a57;
    border: solid 2px #652a57;
}

.dark-mode .filter-button:hover {
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    border: solid 2px rgba(255, 255, 255, 0.784);   
}

.dark-mode .icon-wrapper:hover {
    box-shadow: 0px 0px 7px  rgba(255, 255, 255, 0.784);   
}

.dark-mode .theme-wrapper {
    background-color: rgba(125, 125, 125, 0.784);
}

.dark-mode #theme-button {
    color: #652a57 ;
}

.dark-mode #theme-button:hover {
    color: #a94865;
}

.dark-mode .most-recent, .dark-mode .topic-intro {
    background-color: rgb(20, 20, 20);
}

.dark-mode .topic-intro {
    border: none;
}

.dark-mode .topic-header-text {
    color: whitesmoke;
}

/* Not currenlty in Use */
.dark-mode .full-list {
    border-color: #652a57;
}

.dark-mode .full-list:hover {
    border-color: #a94865;
    background-color: #a94865;
    color: whitesmoke;
}
/* ******************* */

.dark-mode .topic a {
    color: #7357b9;
}

.dark-mode .flex-start-center {
    background: linear-gradient(88deg, rgb(24, 20, 44) 0%, rgba(101,42,87,1) 75%, rgb(145, 57, 83) 100%)
}

/* .dark-mode .topic-intro {
    background-color: ;
} */

.dark-mode .topic-header {
    background-color:  rgb(20, 20, 20);
    color: whitesmoke;
}