body {
    background-color: #F0F4EF;
    margin: 0;
}

header {
    height: 15vh;
    background-color: #b4cded;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    height: 10vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

main {
    height: 60vh;
   /* I have no idea how to center my grid :( */
}

#images { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #344966;
    color: white;
    height: 15vh;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
}